<tr class="table">
	<td class="table-row">
		<%= link_to '', root_path,
			class: "btn-outline-#{%w(blue pink warning danger).sample}-animated",

			'data-content': "I confirm that I did not perform any overtime for the week of : #{x.start_date}",
			data: { confirm: 'Are you sure you want to confirm that you did not perform any overtime?' }

			%>
	</td>
</tr>
