<div class="container-fluid">
	<h1 class="flex-center">Posts</h1>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th><center>#</center></th>
				<th><center>Employee</center></th>
				<th><center>Starting Week</center></th>
				<th><center>Confirmed At</center></th>
				<th><center>Status</center></th>
			</tr>
		</thead>

		<tbody id="auditLogs">
			<%= render partial: 'audit_log', collection: @audit_logs %>
		</tbody>
	</table>

		<div class="centrify">
		</div>

	<%= params[:page] %>
	<div id="paginator">
		<%= paginate @audit_logs, class: 'pagination', remote: true %>
	</div>
</div>
