<div class="jumbotron">
	<div class="wrapper">
		<h1 class="display-4">Hello <%= current_user.full_name %></h1>

		<p class="lead">
			Thanks for taking interest in our company.
		</p>

		<hr class="my-4">

		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>
</div>

<table class="table table-borderless table-hover">
	<thead>
		<tr>
			<th>
				<div class="centrify">
					Pending Your Confirmation
				</div>
			</th>
		</tr>
	</thead>

	<tbody>
		<%= render partial: 'employee_actions/pending_audit_confirmation', collection: @pending_audit_confirmations, as: :x %>
	</tbody>
</table>
