<%= form_for @post do |f| %>
	<div class="form-group">
		<%= f.date_field :date, class: 'form-control' %>
		<br>

		<%= f.text_area :rationale, class: 'form-control' %>
		<br>

		<center id="save">
			<label class="btn-outline-pink-animated" data-content="Save">
				<%= f.submit '', style: 'display: none' %>
			</label>
		</center>
	</div>
<% end %>
