<div class="col-md-12">
	<h1>
		<span class="glyphicon48 glyphicon-write">
			Edit
		</span>
	</h1>
</div>

<%= render 'form' %>
<br>
<span class="glyphicon48 glyphicon-user_purple">Icon beside Text</span>
