<div class="container-fluid">
	<h1 class="flex-center">Posts</h1>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th><center>Actions</center></th>
				<th><center>#</center></th>
				<th><center>Overtime Requested</center></th>
				<th><center>Status</center></th>
				<th><center>Date</center></th>
				<th><center>Rationale</center></th>
			</tr>
		</thead>

		<tbody id="posts">
			<%= render partial: 'post', collection: @posts, as: :x %>
		</tbody>
	</table>

	<div class="centrify" id="paginator"><%= paginate @posts, class: 'pagination', remote: true %></div>
</div>
