<h1><span class="glyphicon16 glyphicon-write">New<span></h1>
<br>

<% if @post.errors.any? %>
	<%= @post.errors.full_messages.each do |x| %>
		<%= notify(x) %>
	<% end %>
<% end %>

<%= render 'form' %>
