@import "bourbon" ;

body, html {
	background-color: #fff ;
}

.logo-alternate-1 {
	position: absolute ;
	opacity: 1 ;
	transition: all 0.125s ease ;
}

.logo-alternate-2 {
	opacity: 0 ;
	transition: all 0.125s ease ;
}

.alternate:hover .logo-alternate-1 {
	opacity: 0 ;
}

.alternate:hover .logo-alternate-2 {
	opacity: 1 ;
}

.flex-center {
	display: flex ;
	justify-content: center ;
	align-items: center ;
}

.centrify {
	display: flex ;
	align-items: center ;
	flex-direction: column ;
}

.w-600 {
	width: 600px ;
}

.display-block {
	display: block ;
}

.field_with_errors {
	display: block ;
	color: #f55 ;
	animation: shaky 0.05s linear 12 ;
	transform-origin: top ;
}

@keyframes shaky {
	0%, 100% {
		transform: rotate(2deg) ;
	}

	50% {
		transform: rotate(0deg) ;
	}
}

@mixin setbg($col1, $col2, $col3) {
	border-color: $col3 ;

	background: repeating-linear-gradient(
		45deg, $col1, $col1 4px, $col2 4px, $col3 8px
	) !important ;
}

.page-link {
	transition: all 125ms ease ;
	user-select: none ;
	filter: drop-shadow(2px 2px 4px #2222) ;

	&:hover {
		background-color: #efefef !important ;
		color: #007bff ;
		z-index: 10 !important ;
		filter: drop-shadow(0px 2px 4px #2222) ;
	}

	&:active {
		border-color: #0a0 !important ;
	}
}

.page-item.active .page-link {
	color: #fff ;
	cursor: not-allowed ;
	@include setbg(#007bff, #007aff, #0000ff) ;
	transition: all 0.25s ease ;

	&:hover {
		color: #fff ;
		transform: none ;

		@include setbg(#ff7b00, #ff7a00, #ff0000) ;
	}
}

.table {
	transition: all 0.125s ease-out ;
}

th {
	transition: all 0.125s ease-out ;
	cursor: pointer ;

	&:hover {
		color: #fff ;
		background-color: #55f ;
	}
}

tr {
	&:hover {
		background-color: #eee !important ;
	}
}

.table-row {
	cursor: pointer ;
	transition: all 0.125s ease-out ;

	&:hover {
		background-color: #ddd ;

	}
}
